body{
    background-image: url(https://images.pexels.com/photos/2064359/pexels-photo-2064359.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
    height: auto;

}
span{
    display: flex;
    text-align: right;
    justify-content: right;
    font-size: 40px;
    margin-top: 10px;
    padding-right: 40px;
    
}
.product-Page{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.product-details img{
    width: 150px;
    border-radius: 80px 80px 80px 80px ;
    cursor: pointer;
}
h1{
    font-size: 20px;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0%;
}
.product-details  :hover{
    transform: scale(1s);
    width: 180px;
    box-shadow: 50px black;
}

.product-details{
    border: 0px solid white;
    backdrop-filter: blur;
    
}
.product-details h2{
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;

}
.product-details a {
    font-weight: 800;
    font-size: 20px;
   text-align: center;
    margin-top: 10px;
    margin-left: 20px;

}
